body html {
    scroll-behavior: smooth;
    height: 100%;
    border-collapse: separate;
}

/*-------------------------NAVIGATION BAR----------------------------- */
ul {
    z-index: 1;
      margin: 0;
      padding: 0;
      width: 100%;
      top: 0.5px;
      left: 0.2px;
      position: fixed;
      list-style-type: none;
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', serif;
      background: linear-gradient(304deg, rgba(12, 6, 126, 0.863) 0%, rgb(32, 207, 108) 80%, rgba(0,212,255,1) 100%);
      display: block;
    }
    
    .navigation {
      float: left;
      border-right:1px solid #bbb;
    }
    
    .navigation:last-child {
      float: right;
      border-right: none;
      border-left: 1px solid #bbb;
    }
    
    .navigation a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    
    .navigation a:hover:not(.active) {
      background-color: rgba(17, 17, 17, 0.39);
    }

    ul {
        z-index: 1;
          margin: 0;
          padding: 0;
          width: 100%;
          top: 0.5px;
          left: 0.2px;
          position: fixed;
          list-style-type: none;
          font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', serif;
          background: linear-gradient(304deg, rgba(108, 126, 6, 0.863) 0%, rgb(32, 122, 207) 80%, rgb(183, 0, 255) 100%);
          display: block;
        }
        
        .navigation {
          float: left;
          border-right:1px solid #bbb;
        }
        
        .navigation:last-child {
          float: right;
          border-right: none;
          border-left: 1px solid #bbb;
        }
        
        .navigation a {
          display: block;
          color: white;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
        }
        
        .navigation a:hover:not(.active) {
          background-color: rgba(17, 17, 17, 0.39);
        }
      
      /*-----------------------------DROPDOWN BUTTON------------------------------------------*/ 
      
      li {
          float: left;
        }
        
      li a, .dropbtn {
          display: inline-block;
          color: rgb(255, 255, 255);
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
        }
        
      li a:hover, .dropdown:hover .dropbtn {
          background-color: rgba(190, 240, 52, 0.774);
        }
        
      li.dropdown {
          display: inline-block;
        }
        
      .dropdown-content {
          display: none;
          position: absolute;
          background-color: rgba(238, 241, 74, 0.555);
          min-width: 160px;
          box-shadow: 8px 11px 14px  rgba(164, 144, 28, 0.692);
          -webkit-box-shadow: 8px 11px 14px  rgba(164, 155, 28, 0.692);
          z-index: 1;
          
        }
        
      .dropdown-content a {
          color: rgb(255, 253, 253);
          padding: 12px 16px;
          text-decoration: none;
          display: block;
          text-align: left;
          font-family: 'Gill Sans', 'Gill Sans MT','Trebuchet MS',serif;
          font-size: 20px;
          text-shadow: 0 0 15px rgba(255, 2, 2, 0.993), 0 0 10px rgba(250, 0, 0, 0.699);          
        }
      
      .dropdown-content a:hover {
          background-color: rgba(17, 17, 17, 0.39);}
                  
      .dropdown:hover .dropdown-content {
           display: block;
          }
      
      /*--- SCROLLBAR -----------------------------------------------*/
      
      /* width */
           ::-webkit-scrollbar {
              width: 10px;
            }
            
      /* Track */
            ::-webkit-scrollbar-track {
              box-shadow: inset 0 0 5px rgb(87, 118, 255); 
              border-radius: 10px;
            }
             
      /* Handle */
            ::-webkit-scrollbar-thumb {
              background: rgba(255, 196, 1, 0.795); 
              border-radius: 10px;
            }
            
      /* Handle on hover */
            ::-webkit-scrollbar-thumb:hover {
              background: #eaff71; 
            }
      
 /*----------------------BACKGROUND------------------------*/
      
      body {
          height: 100%;
          background-image: url("../IMG/openquran.jpg");
          background-size: cover;
          background-repeat: no-repeat;
          background-attachment: scroll;
      }
      
/*--------------------------BANNER---------------------------------*/
      h1 {
          padding: 40px 20px;
          font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", serif;
          font-size: 50px;
          text-align: center;
          text-transform: uppercase;
          text-rendering: optimizeLegibility;
          letter-spacing: .15em;  
          color: rgba(0, 0, 0, 0.89);
          text-shadow: 1px 0px 1px #fffb07, 2px 1px 1px #ffa807e1, 3px 2px 2px #ffc507de, 4px 3px 6px #ffe607c2, 4px 3px 6px #fbff07c7;
          
      }
      
      #banner {
          border-collapse: separate;
          display: block;
          z-index: -1;
          background-color: #f5f4c5cb;
          box-shadow: 5px 5px 5px rgba(239, 253, 34, 0.767);
      }
/*--------------DISPLAY ON HOVER---------------------*/

      .hide {
        display: none;
      }
          
      .myDIV:hover + .hide {
        z-index: 1;
        display: block;
        color: rgb(0, 0, 0);
      }


/*---------------------POP UP ON CLICK -------------------------------------------*/

/* Popup container - can be anything you want */
.popup {
    width: fit-content;
    position: relative;
    display: inline-block;
    cursor: pointer;
    padding-left: 15px;
    
  }
  
  /* The actual popup */
  .popup .popuptext {
    position: absolute;
    visibility: hidden;
    background-color: rgba(6, 3, 26, 0.788);
    color: #fff;
    z-index: 1;
    width: 650px;
    height: auto;
    padding: 5px;
    letter-spacing: 1px;
      font-size: 18px;
      font-family: 'Times New Roman', Times, serif;
  }
  
  /* Toggle this class - hide and show the popup */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }
  
  /*---------------MEDIA--------------------------*/





/*------------TEXT----------------------------*/

/*----------LINKS--------------------*/
a {
    text-decoration: 2px solid underline rgba(0, 0, 255, 0.719);
    color: black;
  }

h2 {
    margin: 0;
    padding: 0;  
    font-size: 32px;
    text-align: center;
    letter-spacing: 1px;
    font-family: 'cursive' serif;
    display: block;
}


/*-----------------------------FOOOTER-------------------------------*/
footer {
  position: relative;
  display: block;
  bottom: 0px;
  width: 100%;
  background-color: #0f0f0f23;
  text-align: center;
  text-shadow: 1px 0px 1px #fffb07cc, 2px 1px 1px #ffa807c4, 3px 2px 2px #ffc507cb, 4px 3px 6px #ffe607ab, 4px 3px 6px #fbff07ab;

}

