body html {
    scroll-behavior: smooth;
    height: 100%;
    border-collapse: separate;
}

/* NAVIGATION BAR----------------------------- */
ul {
  z-index: 1;
    margin: 0;
    padding: 0;
    width: 100%;
    top: 0.5px;
    left: 0.2px;
    position: fixed;
    list-style-type: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', serif;
    background: linear-gradient(304deg, rgba(126, 250, 24, 0.479) 0.5%, rgb(182, 201, 76) 80%, rgba(218, 80, 80, 0.788) 100%);
    display: block;
  }
  
  .navigation {
    float: left;
    border-right:1px solid #bbb;
  }
  
  .navigation:last-child {
    float: right;
    border-right: none;
    border-left: 1px solid #bbb;
  }
  
  .navigation a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .navigation a:hover:not(.active) {
    background-color: rgba(17, 17, 17, 0.39);
  }

/*DROPDOWN BUTTON------------------------------------------*/ 

li {
    float: left;
  }
  
li a, .dropbtn {
    display: inline-block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
li a:hover, .dropdown:hover .dropbtn {
    background-color: #7dff6285;
  }
  
li.dropdown {
    display: inline-block;
  }
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(255, 87, 87, 0.61);
    min-width: 160px;
    box-shadow: 8px 11px 14px  rgba(126, 253, 94, 0.692);
    -webkit-box-shadow: 8px 11px 14px  rgba(8, 204, 1, 0.692);
    z-index: 1;
    
  }
  
.dropdown-content a {
    color: rgb(255, 253, 253);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT','Trebuchet MS',serif;
    font-size: 20px;
    text-shadow: 0 0 15px rgb(65, 255, 27), 0 0 10px rgba(61, 248, 4, 0.918);
    
  }

.dropdown-content a:hover {
    background-color: rgba(17, 17, 17, 0.39);}
            
.dropdown:hover .dropdown-content {
     display: block;
    }

/*--- SCROLLBAR -----------------------------------------------*/

/* width */
     ::-webkit-scrollbar {
        width: 10px;
      }
      
/* Track */
      ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px rgb(250, 1, 1); 
        border-radius: 10px;
      }
       
/* Handle */
      ::-webkit-scrollbar-thumb {
        background: rgba(21, 255, 0, 0.562); 
        border-radius: 10px;
      }
      
/* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
        background: #bdff06; 
      }

/*BACKGROUND------------------------*/

body {
    height: 100%;
    background-image: url("../IMG/redleafgrey.jpg");
    background-size: cover;

    background-repeat: no-repeat;
    background-attachment: scroll;
}

/*BANNER---------------------------------*/
h1 {
    padding: 40px 20px;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", serif;
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    letter-spacing: .15em;  
    color: rgb(255, 255, 255);
    text-shadow: 2px 0px 2px #ff0707, 3px 2px 2px #ff0766e1, 3px 2px 2px #ff07c9de, 4px 3px 6px #ea07ffc2, 6px 4px 8px #fffffffa;
    
}

a {
    text-decoration: 2px solid underline rgba(0, 0, 255, 0.719);
    color: black;
  }

.verses {
    background-color: rgba(243, 245, 236, 0.712);
    outline: 2px outset rgba(105, 103, 104, 0.52);
    outline-offset: 1px;
    padding: 2px;
    
  }  

#banner {
    border-collapse: separate;
    display: block;
    z-index: -1;
    background-color: rgba(255, 255, 255, 0.295);
    box-shadow: 5px 5px 5px rgba(255, 0, 0, 0.692);
}

.Allah {
    display: block;
    padding: 0px 15px 5px;
    margin: 1px 80px 1px;
    width: auto;
    outline: 5px outset rgb(247, 236, 236);
    background-color: rgba(247, 236, 236, 0.884);
}

.shahadah {
    display: block;
    padding: 0px 15px 5px;
    margin: 1px 80px 1px;
    width: auto;
    outline: outset 5px rgba(121, 121, 218, 0.692) ;
    background-color: #c2d3f39f;
}

/*-----------------------------------FOOOTER---------------------------------------*/
footer {
    position: relative;
    top: 20px;
    display: block;
    width: 100%;
    background-color: #ece6e623;
    text-align: center;
    text-shadow: 1px 0px 1px #ff0707, 2px 1px 1px #ff0766e1, 3px 2px 2px #ff07c9de, 4px 3px 6px #ea07ffc2, 4px 3px 6px #fffffffa;
    bottom: 0;
  } 


















/*-----------------------------------ANIMATED BACKGROUND----------------------------------------*/

@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #f8f5f513;
    overflow: hidden;
}

.background span {
    width: 1vmin;
    height: 1vmin;
    border-radius: 1vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 39;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #04ff00;
    top: 89%;
    left: 78%;
    animation-duration: 61s;
    animation-delay: -97s;
    transform-origin: -11vw -8vh;
    box-shadow: 2vmin 0 1.1718435266102318vmin currentColor;
}
.background span:nth-child(1) {
    color: #eeff00;
    top: 96%;
    left: 37%;
    animation-duration: 95s;
    animation-delay: -86s;
    transform-origin: 16vw -17vh;
    box-shadow: 2vmin 0 0.8551371603903573vmin currentColor;
}
.background span:nth-child(2) {
    color: #04ff00;
    top: 24%;
    left: 28%;
    animation-duration: 7s;
    animation-delay: -41s;
    transform-origin: 8vw -21vh;
    box-shadow: -2vmin 0 0.2827115949377861vmin currentColor;
}
.background span:nth-child(3) {
    color: #04ff00;
    top: 8%;
    left: 63%;
    animation-duration: 105s;
    animation-delay: -35s;
    transform-origin: -14vw -10vh;
    box-shadow: 2vmin 0 1.013067811005759vmin currentColor;
}
.background span:nth-child(4) {
    color: #ff00f7;
    top: 5%;
    left: 86%;
    animation-duration: 78s;
    animation-delay: -81s;
    transform-origin: -7vw -1vh;
    box-shadow: -2vmin 0 0.5649341869335796vmin currentColor;
}
.background span:nth-child(5) {
    color: #ff00f7;
    top: 73%;
    left: 55%;
    animation-duration: 52s;
    animation-delay: -74s;
    transform-origin: 14vw 18vh;
    box-shadow: 2vmin 0 0.6144025654553373vmin currentColor;
}
.background span:nth-child(6) {
    color: #ff3333;
    top: 29%;
    left: 57%;
    animation-duration: 47s;
    animation-delay: -14s;
    transform-origin: 0vw 3vh;
    box-shadow: -2vmin 0 1.23399150897208vmin currentColor;
}
.background span:nth-child(7) {
    color: #ff00f7;
    top: 56%;
    left: 93%;
    animation-duration: 66s;
    animation-delay: -43s;
    transform-origin: 3vw -23vh;
    box-shadow: -2vmin 0 0.3162706593337459vmin currentColor;
}
.background span:nth-child(8) {
    color: #eeff00;
    top: 40%;
    left: 43%;
    animation-duration: 33s;
    animation-delay: -17s;
    transform-origin: 7vw -2vh;
    box-shadow: -2vmin 0 1.0727636815907793vmin currentColor;
}
.background span:nth-child(9) {
    color: #ff00f7;
    top: 50%;
    left: 68%;
    animation-duration: 97s;
    animation-delay: -47s;
    transform-origin: -8vw -5vh;
    box-shadow: -2vmin 0 1.004084940007807vmin currentColor;
}
.background span:nth-child(10) {
    color: #04ff00;
    top: 67%;
    left: 19%;
    animation-duration: 42s;
    animation-delay: -66s;
    transform-origin: 17vw 17vh;
    box-shadow: -2vmin 0 0.8694114208961683vmin currentColor;
}
.background span:nth-child(11) {
    color: #ff00f7;
    top: 59%;
    left: 92%;
    animation-duration: 87s;
    animation-delay: -99s;
    transform-origin: -22vw -14vh;
    box-shadow: -2vmin 0 0.4141084045339598vmin currentColor;
}
.background span:nth-child(12) {
    color: #ff00f7;
    top: 94%;
    left: 12%;
    animation-duration: 112s;
    animation-delay: -92s;
    transform-origin: -12vw -23vh;
    box-shadow: 2vmin 0 1.1142119066544913vmin currentColor;
}
.background span:nth-child(13) {
    color: #04ff00;
    top: 53%;
    left: 57%;
    animation-duration: 76s;
    animation-delay: -51s;
    transform-origin: -24vw 4vh;
    box-shadow: -2vmin 0 0.9730577666568054vmin currentColor;
}
.background span:nth-child(14) {
    color: #ff00f7;
    top: 58%;
    left: 38%;
    animation-duration: 95s;
    animation-delay: -99s;
    transform-origin: 7vw -10vh;
    box-shadow: -2vmin 0 1.0851002010202717vmin currentColor;
}
.background span:nth-child(15) {
    color: #ff00f7;
    top: 45%;
    left: 63%;
    animation-duration: 92s;
    animation-delay: -3s;
    transform-origin: 22vw -19vh;
    box-shadow: -2vmin 0 0.9683095527842602vmin currentColor;
}
.background span:nth-child(16) {
    color: #eeff00;
    top: 93%;
    left: 16%;
    animation-duration: 51s;
    animation-delay: -102s;
    transform-origin: -13vw 0vh;
    box-shadow: -2vmin 0 0.4835609775166685vmin currentColor;
}
.background span:nth-child(17) {
    color: #ff00f7;
    top: 29%;
    left: 29%;
    animation-duration: 67s;
    animation-delay: -86s;
    transform-origin: -19vw 15vh;
    box-shadow: -2vmin 0 1.1929871002917407vmin currentColor;
}
.background span:nth-child(18) {
    color: #04ff00;
    top: 30%;
    left: 94%;
    animation-duration: 9s;
    animation-delay: -33s;
    transform-origin: -19vw -6vh;
    box-shadow: -2vmin 0 1.242616504232835vmin currentColor;
}
.background span:nth-child(19) {
    color: #eeff00;
    top: 67%;
    left: 50%;
    animation-duration: 98s;
    animation-delay: -88s;
    transform-origin: 0vw 22vh;
    box-shadow: -2vmin 0 0.5315438339765999vmin currentColor;
}
.background span:nth-child(20) {
    color: #eeff00;
    top: 84%;
    left: 53%;
    animation-duration: 7s;
    animation-delay: -50s;
    transform-origin: 13vw 16vh;
    box-shadow: 2vmin 0 0.915017811204808vmin currentColor;
}
.background span:nth-child(21) {
    color: #ff00f7;
    top: 74%;
    left: 46%;
    animation-duration: 15s;
    animation-delay: -53s;
    transform-origin: -17vw 9vh;
    box-shadow: -2vmin 0 0.8600202910109016vmin currentColor;
}
.background span:nth-child(22) {
    color: #04ff00;
    top: 88%;
    left: 29%;
    animation-duration: 92s;
    animation-delay: -85s;
    transform-origin: -3vw 6vh;
    box-shadow: -2vmin 0 0.4861267567068759vmin currentColor;
}
.background span:nth-child(23) {
    color: #eeff00;
    top: 60%;
    left: 22%;
    animation-duration: 38s;
    animation-delay: -78s;
    transform-origin: -11vw 22vh;
    box-shadow: -2vmin 0 0.9815138663535226vmin currentColor;
}
.background span:nth-child(24) {
    color: #ff3333;
    top: 20%;
    left: 32%;
    animation-duration: 10s;
    animation-delay: -73s;
    transform-origin: 4vw 18vh;
    box-shadow: 2vmin 0 0.476297669129746vmin currentColor;
}
.background span:nth-child(25) {
    color: #ff00f7;
    top: 15%;
    left: 37%;
    animation-duration: 77s;
    animation-delay: -80s;
    transform-origin: -4vw -23vh;
    box-shadow: 2vmin 0 0.2969134359511387vmin currentColor;
}
.background span:nth-child(26) {
    color: #ff00f7;
    top: 81%;
    left: 38%;
    animation-duration: 27s;
    animation-delay: -95s;
    transform-origin: -22vw 2vh;
    box-shadow: -2vmin 0 0.9935899040117266vmin currentColor;
}
.background span:nth-child(27) {
    color: #ff00f7;
    top: 24%;
    left: 56%;
    animation-duration: 72s;
    animation-delay: -16s;
    transform-origin: -20vw 7vh;
    box-shadow: -2vmin 0 0.8083815846531222vmin currentColor;
}
.background span:nth-child(28) {
    color: #ff00f7;
    top: 2%;
    left: 46%;
    animation-duration: 32s;
    animation-delay: -6s;
    transform-origin: 15vw -11vh;
    box-shadow: -2vmin 0 1.1950288389018187vmin currentColor;
}
.background span:nth-child(29) {
    color: #eeff00;
    top: 69%;
    left: 38%;
    animation-duration: 80s;
    animation-delay: -97s;
    transform-origin: -11vw 20vh;
    box-shadow: 2vmin 0 0.5897951079921682vmin currentColor;
}
.background span:nth-child(30) {
    color: #eeff00;
    top: 20%;
    left: 88%;
    animation-duration: 75s;
    animation-delay: -1s;
    transform-origin: -1vw -7vh;
    box-shadow: 2vmin 0 0.8168941363999955vmin currentColor;
}
.background span:nth-child(31) {
    color: #ff00f7;
    top: 4%;
    left: 27%;
    animation-duration: 70s;
    animation-delay: -82s;
    transform-origin: 6vw 24vh;
    box-shadow: -2vmin 0 0.33288651014970605vmin currentColor;
}
.background span:nth-child(32) {
    color: #04ff00;
    top: 19%;
    left: 57%;
    animation-duration: 67s;
    animation-delay: -66s;
    transform-origin: -18vw -8vh;
    box-shadow: 2vmin 0 1.1992437258606308vmin currentColor;
}
.background span:nth-child(33) {
    color: #04ff00;
    top: 96%;
    left: 91%;
    animation-duration: 61s;
    animation-delay: -22s;
    transform-origin: -1vw -2vh;
    box-shadow: 2vmin 0 0.32472838174399987vmin currentColor;
}
.background span:nth-child(34) {
    color: #ff00f7;
    top: 41%;
    left: 35%;
    animation-duration: 76s;
    animation-delay: -3s;
    transform-origin: -8vw 19vh;
    box-shadow: 2vmin 0 0.4684526595243974vmin currentColor;
}
.background span:nth-child(35) {
    color: #ff00f7;
    top: 55%;
    left: 49%;
    animation-duration: 86s;
    animation-delay: -33s;
    transform-origin: 17vw 24vh;
    box-shadow: 2vmin 0 0.8184435052041086vmin currentColor;
}
.background span:nth-child(36) {
    color: #04ff00;
    top: 73%;
    left: 14%;
    animation-duration: 62s;
    animation-delay: -24s;
    transform-origin: -17vw -20vh;
    box-shadow: -2vmin 0 0.3456163609590033vmin currentColor;
}
.background span:nth-child(37) {
    color: #04ff00;
    top: 43%;
    left: 7%;
    animation-duration: 45s;
    animation-delay: -17s;
    transform-origin: -3vw 15vh;
    box-shadow: 2vmin 0 0.36551412587298127vmin currentColor;
}
.background span:nth-child(38) {
    color: #ff00f7;
    top: 39%;
    left: 32%;
    animation-duration: 67s;
    animation-delay: -3s;
    transform-origin: 15vw 16vh;
    box-shadow: 2vmin 0 1.1796014211429913vmin currentColor;
}
.background span:nth-child(39) {
    color: #ff3333;
    top: 28%;
    left: 67%;
    animation-duration: 92s;
    animation-delay: -99s;
    transform-origin: -2vw 9vh;
    box-shadow: 2vmin 0 0.9562320029254368vmin currentColor;
}
